<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciphership</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Ciphership</h1>
    <div class="render-area">
        <div class="play-title">
            <h2 id="score"></h2>
            <h2>Waiting for opponent...</h2>
            <h2 id="cipher"></h2>
        </div>
        <div class="play-area">
            <div>
                <div id="user-grid" class="grid"></div>
                <div><h3>Your Fleet</h3></div>
            </div>
            <div>
                <div id="opponent-grid" class="grid"></div>
                <div><h3>Opponent Fleet</h3></div>
            </div>
            <div id="chat-container" class="hidden">
                <h2>Public Chat</h2>
                <div id="messages"></div>
            </div>
        </div>
    </div>
    <script>
        let GRID_SIZE = 6
        let UUID = window.location.href.split('/').pop()
        let wowstring = "abcde "   
        function createGrid(gridElement, isClickable) {
            gridElement.style.display = "grid";
            gridElement.style.gridTemplateColumns = `repeat(${GRID_SIZE}, 75px)`;
            gridElement.style.gridTemplateRows = `repeat(${GRID_SIZE}, 75px)`;

            for (let i = 0; i < GRID_SIZE; i++) {
                for (let j = 0; j < GRID_SIZE; j++) {
                    const cell = document.createElement("div");
                    cell.className = "cell";
                    cell.dataset.x = i;
                    cell.dataset.y = j;

                    // Allow user to toggle ship placement
                    if (isClickable && i!=(GRID_SIZE-1) && j!=(GRID_SIZE-1)) {
                        cell.addEventListener("click", () => {
                            cell.classList.toggle("selected"); // Toggle ship color
                        });
                    }
                    else if(i==(GRID_SIZE-1))
                    {
                        cell.innerText = wowstring[j];
                    }
                    else if(j==(GRID_SIZE-1))
                    {
                        cell.innerText = wowstring[i];
                    }

                    gridElement.appendChild(cell);
                }
            }
        }

        async function fetchMessages() {
            try {
                const response = await fetch('/get-all-messages');
                if (!response.ok) throw new Error('Failed to fetch messages');
                const data = await response.json();

                const messagesContainer = document.getElementById('messages');
                if(data.length == messagesContainer.childElementCount) {
                    return;
                }
                messagesContainer.innerHTML = ''; // Clear old messages
                
                data.forEach((msg,index) => {
                    const div = document.createElement('div');
                    div.className = 'message';
                    div.innerHTML = `<span class="username">${msg.username}:</span> <span class="text">${msg.text}</span>`;
                    messagesContainer.appendChild(div);
                    if (index == data.length - 1 && msg.text == "Next Move") {
                        location.reload();
                    }
                });

                // Auto-scroll to the bottom
                messagesContainer.scrollTop = messagesContainer.scrollHeight;
            } catch (error) {
                console.error('Error fetching messages:', error);
            }
        }

        async function fetchData() {
            try {
                const response = await fetch('/get-tables/' + UUID);
                if (!response.ok) throw new Error('Failed to fetch messages');
                data = await response.json();
                console.log(data)
                const user_grid = document.getElementById("user-grid")
                const opponent_grid = document.getElementById("opponent-grid")
                data.table_data[0].forEach(msg => {
                     updateCell(user_grid, msg.x, msg.y, msg.color)
                });
                data.table_data[1].forEach(msg => {
                     updateCell(opponent_grid, msg.x, msg.y, msg.color)
                });
                document.getElementById("score").innerHTML = `Score: ${data.score}`
                document.getElementById("cipher").innerHTML = `Encryption(abcde): ${data.cipher}`
            } catch (error) {
                console.error('Error fetching messages:', error);
            }
        }

        function updateCell(gridElement, x, y, className) {
            const cell = gridElement.querySelector(`.cell[data-x="${x}"][data-y="${y}"]`);
            if (cell) {
                cell.classList.add(className); // Add a class to update the cell
            } else {
                console.error(`Cell at (${x}, ${y}) not found.`);
            }
        }
        // Instantiation
        const user_grid = document.getElementById("user-grid");
        const opponent_grid = document.getElementById("opponent-grid");
        createGrid(user_grid, false);
        createGrid(opponent_grid, false);
        document.getElementById("chat-container").classList.remove("hidden");
        setInterval(fetchMessages, 100);
        fetchData()
        
    </script>
</body>
</html>
